<img src="SUmmoTEch2.png">
<p>Location:</p>
<img src="https://maps.wikimedia.org/img/osm-intl,0,35.689722,139.692222,290x290.png?lang=ro&amp;domain=ro.wikipedia.org&amp;title=T%C5%8Dky%C5%8D&amp;groups=_61a25c90d5a6cf68b97a78aa16f1fb14175203a4" alt="" decoding="async" srcset="https://maps.wikimedia.org/img/osm-intl,0,35.689722,139.692222,290x290@2x.png?lang=ro&amp;domain=ro.wikipedia.org&amp;title=T%C5%8Dky%C5%8D&amp;groups=_61a25c90d5a6cf68b97a78aa16f1fb14175203a4 2x" width="290" height="290">
<p>-Donations start on 15.07.2020</p>
<h1>HERE!</h1>